<app-header></app-header>
<!--
<div class="row">
    <div class="col-sm-6">
        <div class="card "*ngIf="serie">
            <div class="card-body" *ngFor="let comment of serie.comments">
                <h5 class="card-title">{{comment.author}}</h5>
                <p class="card-text">{{comment.date}}</p>
                <p class="card-text">{{comment.content}}</p>

            </div>
            <button class="btn btn-danger" (click)="onClickDeleteSpecificComment(comment.id)">

                Delete
            </button>
        </div>
    </div>
    -->
