<app-header></app-header>
<div class="test1">
    <div class="container mt-5">

        <div class="container text-center mt-3">

            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="/assets/img/L_1.jpg" alt="Card picture">

                <div class="card-body">

                    <h5 class="card-title">{{serie.name}} - {{serie.releasedAt}} - {{serie.seasonNumber}}</h5>
                    <p class="card-text">{{serie.description}} - {{serie.critic}}</p>
                    
                   
                    <p class="card-text">{{serie.comment}}</p>

                    <a routerLink="/series" class="card-link">Back to list</a>

                </div>

            </div>

        </div>
    </div>

</div>
