.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 82px;
}

.card {

    background-color: rgb(206, 243, 255);

}

.test1 {
    background-image: url('src\assets\img\Netflix-Background.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto;
    margin-top: 50px;
}